{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="../static/about.css">

<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />

<main>
<div class="ct-pageWrapper" id="ct-js-wrapper">
<section class="company-heading intro-type" id="parallax-one">
   <div class="container">
      <div class="row product-title-info">
         <div class="col-md-12">
            <h1>
               About Us
            </h1>
         </div>
      </div>
   </div>
   <div class="parallax" id="parallax-cta" style="background-image:url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/pieces-of-lego-displayed-during-the-exhibition-at-alexandra-news-photo-1586272389.jpg);">
      &nbsp;
   </div>
</section>
<section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
   <div class="container text-center">
      <h2>
         Lego Project
      </h2>
         <div class="red-border">
            &nbsp;
         </div>
         <p class="ct-u-size22 ct-u-fontWeight300 marginTop40">
            This website mainly focuses on it’s consists of a sort of LEGO package conversion unit. It's where one can provide a list of lego components, send it to the LEGO and have it send back sets one can create for the lego product. 
         </p>
      </div>
   </div>
</section>
</div>
</main>


{% endblock %}