{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />

<main>
    <h1 style="text-align: center">NEW BRICK</h1>
    <form method="POST" action="{{ url_for('main.add_brick') }}">
      {{ form.csrf_token }}
      <fieldset>
        <legend style="text-align: center">PLEASE FILL OUT YOUR BRICK INFORMATION</legend>

        <div class="container">
          <div style="text-align: center" class="row">
            <div class="col">
              <div>
                {{ form.name.label }} 
              </div>
              {{ form.name }}
              <ul>
                {% for error in form.name.errors %}
                <li class="error">{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div style="text-align: center" class="row">
            <div class="col">
              <div>
                {{ form.brick_id.label }} 
              </div>
              {{ form.brick_id }}
              <ul>
                {% for error in form.brick_id.errors %}
                <li class="error">{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div style="text-align: center" class="row">
            <div class="col">
              <div>
                {{ form.quantity.label }} 
              </div>
              {{ form.quantity }}
              <ul>
                {% for error in form.quantity.errors %}
                <li class="error">{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div style="text-align: center" class="row">
            <div class="col">
              <div>
                {{ form.photo_url.label }} 
              </div>
              {{ form.photo_url }}
              <ul>
                {% for error in form.photo_url.errors %}
                <li class="error">{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div id="brickButton"style="text-align: center" class="row">
            <div class="col">
              {{ form.submit }}
            </div>
          </div>
        </div> 
      </fieldset>
    </form>
</main>

{% endblock content %}