{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />

<main>
    <h1>NEW SET</h1>
    <form method="POST" action="{{ url_for('main.add_set') }}">
      {{ form.csrf_token }}
      <fieldset>
        <legend>PLEASE FILL OUT YOUR SET INFORMATION</legend>
    
        {{ form.name.label }} {{ form.name }}
        <ul>
          {% for error in form.name.errors %}
          <li class="error">{{ error }}</li>
          {% endfor %}
        </ul>
    
        {{ form.set_id.label }} {{ form.set_id }}
        <ul>
          {% for error in form.quantity.errors %}
          <li class="error">{{ error }}</li>
          {% endfor %}
        </ul>

        {{ form.photo_url.label }} {{ form.photo_url }}
        <ul>
          {% for error in form.photo_url.errors %}
          <li class="error">{{ error }}</li>
          {% endfor %}
        </ul>
    
        {{ form.submit }}
      </fieldset>
    </form>
</main>

{% endblock content %}