{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='bricks.css') }}" />

<main>
    <h1>New Brick</h1>
    <form method="POST" action="{{ url_for('main.add') }}">
      {{ form.csrf_token }}
      <fieldset>
        <legend>Please fill out your Bricks info:</legend>
    
        {{ form.name.label }} {{ form.name }}
        <ul>
          {% for error in form.name.errors %}
          <li class="error">{{ error }}</li>
          {% endfor %}
        </ul>
    
        {{ form.brick_id.label }} {{ form.brick_id }}
        <ul>
          {% for error in form.brick_id.errors %}
          <li class="error">{{ error }}</li>
          {% endfor %}
        </ul>

        {{ form.quantity.label }} {{ form.quantity }}
        <ul>
          {% for error in form.quantity.errors %}
          <li class="error">{{ error }}</li>
          {% endfor %}
        </ul>

        {{ form.photo_url.label }} {{ form.photo_url }}
        <ul>
          {% for error in form.photo_url.errors %}
          <li class="error">{{ error }}</li>
          {% endfor %}
        </ul>
    
        {{ form.submit }}
      </fieldset>
    </form>
</main>

{% endblock content %}