{% extends 'base.html' %}{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='bricks.css') }}" />

<main>
  <h1 class="my-5" style="text-align: center">LEGO BRICKS</h1>

  <div class="row">
    <!-- Dynamic code to display all bricks -->
    {% for brick in brick_list %}
    <div class="col-lg-10 offset-lg-1">
      <img src="{{ brick.photo_url }}" class="img-fluid rounded" width="60" height="60"/>
      <h3>{{ brick.name }}</h3>
      <div class="row">
        <form method="POST" action="{{ url_for('main.update', lego_id=brick.id) }}">
          {{ form.csrf_token }}
          <fieldset>

              {{ form.quantity.label }}
              {{ form.quantity(value=brick.quantity) }}
                  
              <input type="submit" value="SAVE" class="btn btn-primary">
              
          </fieldset>
        </form>
        <form class="mx-2" method="POST" action="{{ url_for('main.delete', lego_id=brick.id) }}">
          <input type="submit" value="REMOVE" class="btn btn-primary">
        </form>
      </div>
      
    </div>
    {% endfor %}

  </div>

  <div class="jumbotron text-center mb-0">
    <a href="/bricks/add" class="btn btn-primary">ADD ITEM</a>
  </div>
</main>

{% endblock %}
