{% extends 'base.html' %} {% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
<div class="d-flex flex-column min-vh-100">
  <div class="flex-fill">
    <h1 style="text-align: center">LOG IN</h1>

    <form action="/login" method="POST">
      {{ form.csrf_token }}
      <fieldset>
        <legend style="text-align: center">PLEASE ENTER YOUR CREDENTIALS</legend>

        <div class="container">
          <div style="text-align: center" class="row">
            <div class="col">
              <div>
                {{ form.username.label }} 
              </div>
              {{ form.username }}
              <ul>
                {% for error in form.username.errors %}
                <li class="error">{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div style="text-align: center" class="row">
            <div class="col">
              <div>
                {{ form.password.label }} 
              </div>
              {{ form.password }}
              <ul>
                {% for error in form.password.errors %}
                <li class="error">{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div style="text-align: center" class="row">
            <div class="col">
              {{ form.submit }}
            </div>
          </div>        
      </fieldset>
    </form>
  </div>
</div>

{% endblock %}
