appdirs==1.4.4
astroid==2.4.2
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
codecov==2.1.11
coverage==5.4
distlib==0.3.1
dnspython==2.0.0
euchre-cli==0.3.2
filelock==3.0.12
Flask==1.1.2
Flask-Login==0.5.0
Flask-PyMongo==2.3.0
Flask-SQLAlchemy==2.4.4
flask-unittest==0.1.1
Flask-WTF==0.14.3
gunicorn==20.0.4
idna==2.10
importlib-metadata==3.4.0
iniconfig==1.1.1
isort==5.4.2
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
names==0.3.0
packaging==20.9
pluggy==0.13.1
py==1.10.0
pylint==2.6.0
pymongo==3.11.0
pyparsing==2.4.7
pytest==6.2.2
pytest-cov==2.11.1
python-dotenv==0.15.0
requests==2.25.1
six==1.15.0
SQLAlchemy==1.3.23
SQLAlchemy-Utils==0.36.8
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.26.3
virtualenv==20.4.2
Werkzeug==1.0.1
wrapt==1.12.1
WTForms==2.3.3
zipp==3.4.0
