body {
  background-color: #FFFFFF;
  color: #000000;
  margin: 0;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  background-color: #FFCC00;
  color: #000000;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: .5rem;
  font-weight: 600;
  line-height: 1.2;
  color: #000000;
}

.p-5.text-black {
  background-color: #FFCC00;
}

.btn-primary:hover {
  background-color: #FFCC00;
  color: #003399;
}

.hero-background-img {
  background-image: url("images/lego-background.jpg");
  padding-top:400px;
  padding-bottom:400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  background-color: #FFFFFF;
  color: #000000;
}

.navbar {
  padding: 1rem;
  background-color: #FFCC00;
}

.navbar-dark .navbar-nav .nav-link {
  color: #000000;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
  color: #000000;
}

.text-white {
  color: #000000!important;
}

.row {
<<<<<<< HEAD:legos_app/static/sets.css
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1px;
  margin-left: -1px;
}

.rounded {
  border-radius: .25rem!important;
  padding-top: 100px;
  padding-bottom: 100px;
=======
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1px;
    margin-left: -1px;
>>>>>>> b15d630e86f6ca4bf0307efcb472a6bb3d9f5a8c:static/sets.css
}
