{% extends 'base.html' %}
{% block content %}

<main>
    <h1>New Brick</h1>

    <form method='POST'>
        <fieldset>
            <legend>Please fill out your Bricks info:

            <label>
                Bricks name:
                <input type="text" name="plant_name">
            </label>
            
            <label>
                Bricks ID:
                <input type="text" name="variety">
            </label>

            <label>
                Bricks photo URL:
                <input type="url" name="photo">
            </label>
            <input type="submit" class="submit" value="Submit!">
        </fieldset>
    </form>
</main>

{% endblock content %}