<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>LEGO</title>

  <!-- BOOTSTRAP THEME -->
  <link rel="stylesheet" href="../static/bootstrap.min.css"/>
</head>
<body>
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/"
    ><img
    height="35"
    width="35"
    class="aem--svgImg"
    src="{{ url_for('static', filename='images/lego-Logo.jpg') }}"
    title="LEGO-Logo"
    alt="Startseite"
    /></a>
    <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor01"
    aria-controls="navbarColor01"
    aria-expanded="false"
    aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"
        >HOME<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">ACCOUNT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sets">LEGO SETS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bricks">LEGO BRICKS</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
      class="form-control mr-sm-2"
      type="text"
      placeholder="SEARCH"
      />
      <button class="btn btn-secondary\\\ my-2 my-sm-0" type="submit">
        GO
      </button>
    </form>
  </div>
</nav>

{% block content %}{% endblock %}

<!-- FOOTER -->
<div class="p-5 text-black">
  <a class="navbar-brand" href="index.html"
  ><img
  height="35"
  width="35"
  class="aem--svgImg"
  src="{{ url_for('static', filename='images/lego-Logo.jpg') }}"
  title="LEGO-logo"
  alt="Startseite"
  /></a>
  ©2020 The LEGO Group. All rights reserved. Use of this site signifies your
  agreement to the terms of use.
</div>
<!-- CUSTOM SCRIPTS -->
<script
src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"
></script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous"
></script>
<script
src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous"
></script>
<script src="../static/scripts.js"></script>
</body>
</html>
