{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='sets.css') }}" />

<main>
  <!-- CARDS -->
  <div class="container mb-5px mt-5px">
    <div class="row m-5">
      <div class="col-lg-6 offset-lg-3"></div>
    </div>
  </div>

  <h1 style="text-align: center">LEGO SETS</h1>
  <div class="row">
    <div id="architecture"></div>

    <!-- Dynamic code to display all sets -->
    <!-- {% for set in sets_list %}
    <div class="col-lg-4">
      <img src="{{ url_for('static', filename='{{set.photo_url}}') }}" class="img-fluid rounded"/>
      <h3>{{set.name}}</h3>
      <a href="{{set.instructions_url}}" class="btn btn-primary">SEE BUILDING INSTRUCTIONS</a>
    </div>
    {% endfor %} -->

    <div class="col-lg-4">
      <img
        src="{{ url_for('static', filename='images/lego-san-francisco-set.jpeg') }}"
        class="img-fluid rounded"
      />
      <h3>San Francisco</h3>
      <a
        href="https://www.lego.com/cdn/product-assets/product.bi.core.pdf/6268875.pdf"
        class="btn btn-primary"
        >SEE BUILDING INSTRUCTIONS</a
      >
    </div>

    <div class="col-lg-4">
      <img
        src="{{ url_for('static', filename='images/lego-las-vegas-set.jpeg') }}"
        class="img-fluid rounded"
      />
      <h3>Las Vegas</h3>
      <a
        href="https://www.lego.com/cdn/product-assets/product.bi.core.pdf/6254671.pdf"
        class="btn btn-primary"
        >SEE BUILDING INSTRUCTIONS</a
      >
    </div>

    <div class="col-lg-4">
      <img
        src="{{ url_for('static', filename='images/lego-shanghai-set.jpeg') }}"
        class="img-fluid rounded"
      />
      <h3>Shanghai</h3>
      <a
        href="https://www.lego.com/cdn/product-assets/product.bi.core.pdf/6249325.pdf"
        class="btn btn-primary"
        >SEE BUILDING INSTRUCTIONS</a
      >
    </div>

    <div id="technic"></div>
    <div class="col-lg-4">
      <img
        src="{{ url_for('static', filename='images/porsche.set.jpeg') }}"
        class="img-fluid rounded"
      />
      <h3>Porsche GT3</h3>
      <a
        href="https://www.lego.com/cdn/product-assets/product.bi.core.pdf/6314566.pdf"
        class="btn btn-primary"
        >SEE BUILDING INSTRUCTIONS</a
      >
    </div>

    <div class="col-lg-4">
      <img
        src="{{ url_for('static', filename='images/mclaren.set.jpeg') }}"
        class="img-fluid rounded"
      />
      <h3>Mclaren Senna</h3>
      <a
        href="https://www.lego.com/cdn/product-assets/product.bi.core.pdf/6366687.pdf"
        class="btn btn-primary"
        >SEE BUILDING INSTRUCTIONS</a
      >
    </div>

    <div class="col-lg-4">
      <img
        src="{{ url_for('static', filename='images/lamborghini.set.jpeg') }}"
        class="img-fluid rounded"
      />
      <h3>Lamborghini Sian</h3>
      <a
        href="https://www.lego.com/cdn/product-assets/product.bi.core.pdf/6341335.pdf"
        class="btn btn-primary"
        >SEE BUILDING INSTRUCTIONS</a
      >
    </div>

    <div id="art"></div>
    <div class="col-lg-4">
      <img
        src="{{ url_for('static', filename='images/iron-man-set.jpeg') }}"
        class="img-fluid rounded"
      />
      <h3>Iron Man</h3>
      <a
        href="https://www.lego.com/cdn/product-assets/product.bi.core.pdf/6332227.pdf"
        class="btn btn-primary"
        >SEE BUILDING INSTRUCTIONS</a
      >
    </div>

    <div class="col-lg-4">
      <img
        src="{{ url_for('static', filename='images/star-wars-set.jpeg') }}"
        class="img-fluid rounded"
      />
      <h3>Star Wars</h3>
      <a
        href="https://www.lego.com/cdn/product-assets/product.bi.core.pdf/6332229.pdf"
        class="btn btn-primary"
        >SEE BUILDING INSTRUCTIONS</a
      >
    </div>

    <div class="col-lg-4">
      <img
        src="{{ url_for('static', filename='images/mickey-mouse-set.jpeg') }}"
        class="img-fluid rounded"
      />
      <h3>Mickey Mouse</h3>
      <a
        href="https://www.lego.com/cdn/product-assets/product.bi.core.pdf/6352027.pdf"
        class="btn btn-primary"
        >SEE BUILDING INSTRUCTIONS</a
      >
    </div>
  </div>
</main>

<div class="jumbotron text-center mb-0">
  <a href="/add" class="btn btn-primary">ADD ITEM</a>
  <a href="#" class="btn btn-primary">REMOVE ITEM</a>
</div>

{% endblock %}
